# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Variables (may contain secrets)
*.tfvars
*.tfvars.json
!*.tfvars.example

# Kubeconfig
kubeconfig*
!terraform.tfvars
